
<style type="text/css">
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 315px;
    background-color: #e8e8e8;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align: center;
    line-height: 160px;
    z-index: 999;
 }
  .header.shrink {
    height: 70px;
    line-height: 125px;
  }
  .header h3
  {
    display: inline;
    font-size: 50px;
    font-family: 'La Belle Aurore', cursive;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    top: -31px;
  }
  .header a{
    background-color: #e8e8e8;
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    margin: 20px auto 0 auto;
    box-shadow:0 0 0 0, 0 6px 12px rgba(0,0,0,0.3);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header a img{
    border-radius: 50%;
  }
  .header.shrink a{
    display: none;
  }

  .header.shrink h3
  {
      font-size:30px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  .dl-menuwrapper{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .main {
    position: fixed;
    max-width: 100%;
    width: 991px;
    margin: auto;
    z-index: 999;
  }

  input[type="checkbox"]#search + label {
    display: inline-block;
    margin: 15px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  input[type="checkbox"]#search + label span {
    float: left;
    position: relative;
    top: -3px;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    font-size: 42px;
  }
  input[type="checkbox"]#search + label span:hover {
    color: #222;
  }
  input[type="checkbox"]#search + label:hover {
    cursor: pointer;
  }
  input[type="checkbox"]#search:checked + label span {
    color: #FFFFFF;
  }
  input[type="checkbox"]#search:checked ~ main section.search {
    opacity: 1;
    visibility: visible;
    top: 0;
    height: 100vh;
    z-index: 99;
  }
  input[type="checkbox"]#search:checked ~ main section.search form {
    top: 40vh;
  }

  section.search {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, black 0, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
    background: linear-gradient(top, black 0, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
  }
  section.search form {
    position: absolute;
    top: -100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    width: 991px;
    max-width: 100%;
    height: 50vh;
  }
  section.search form .advanced {
    float: left;
    width: 100%;
    padding: 20px 0;
  }
  section.search form input {
    font-family: "Telefon Black", Sans-Serif;
    color: #FFFFFF;
  }
  section.search form input[type="search"]:focus {
    border-color: white;
    color: white;
    outline: 0px;
  }
  section.search form input + label {
    font-family: "Telefon Black", Sans-Serif;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0 12px 0 2px;
    color: #666;
  }

</style>

<div class="header">
      <a href="{{site.url}}"><img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt=""></a>
      <h3>{{ site.title }}</h3>

</div><!-- /.entry-header -->

<div class="container">


<input type="checkbox" id="search" hidden="hidden"/>
<label for="search">
  <span class="fa fa-search"></span>
</label>

<main class="main">
  <section class="search">
    <form action="">
      <input type="search" id="search-input" placeholder="search...">
      <ul id="results-container"></ul>
    </form>
  </section>
</main>

</div>
<style media="screen">
  #results-container {position: absolute;top: 117px;left: -43px;}
  #results-container li{list-style: none;height: 30px;line-height: 30px;}
  #results-container li:hover a{color: #000;}
  #results-container li a{color: #fff;font-size: 1.25em;}
</style>
<!-- Script pointing to jekyll-search.js -->
<script src="{{site.baseurl}}/dest/jekyll-search.js" type="text/javascript"></script>

<script type="text/javascript">
      SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '{{ site.baseurl }}/search2.json',
        searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a></li>',
        noResultsText: 'No results found',
        limit: 10,
        fuzzy: false,
        exclude: ['Welcome']
      });
</script>

<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

<script>
var shrinkHeader = 100;
$(window).scroll(function() {
  var scroll = getCurrentScroll();
    if ( scroll >= shrinkHeader ) {
         $('.header').addClass('shrink');
         $('.dl-menuwrapper').addClass('dl-move');
      }
      else {
          $('.header').removeClass('shrink');
          $('.dl-menuwrapper').removeClass('dl-move');
      }
});
function getCurrentScroll() {
  return window.pageYOffset || document.documentElement.scrollTop;
}
$(document).ready(function(){
  $('.fa-search').on('click', function(){
    $('.fa-search').toggleClass('fa-times');
    $('#search-input').val('');
    $('#results-container li a').text('');
  });
});
</script>
